.home{
   
    margin:10px;
}
.inputCover{
    display:flex;
    justify-content: flex-end;
    margin-bottom:20px;
    margin-right:5%;
}
.books{
    display:flex;
    flex-direction:row;
    justify-content:start;
    flex-wrap:wrap;
    

}

.booksCover{
   
}
.pagination{
    display: flex;

    justify-content: center;
    gap:10px;
    margin: 10px;
}
